* {
    border: 0;
    margin: 0;
    padding: 0;
}

body .content{
    position: relative;
}

html {
    scroll-behavior: smooth;
}

/* section 1 */

#section1 {
    height: 1100px;
    padding-top: 40px;
}

.div-image-cv {
    margin-top: 50px;
    text-align: center;
}

/* section 2 */

#section2 {
    padding-top: 40px;
    height: 750px;
}

.bar-width {
    height: 30px;
    margin-top: 20px;
}

.skills {
    text-align: left;
    padding-left: 10px;
    font-size: 180%;
}

/* section 3 */

#section3 {
    padding-top: 40px;
    height: 420px;
}

/* section 6 */

.contact {
    color: white;
    text-decoration: underline;
}

.contact:hover {
    color: white;
    text-decoration: none;
}

.carousel-inner img {
    width: 100%;
    height: 162px;
}

.legende {
    margin-bottom: 0;
    color: slategrey;
}

.legende-active {
    margin-bottom: 0;
}

#section4 {
    padding-top: 40px;
    height: 1100px;
}


#section6 {
    padding-top: 40px;
    height: 1000px;
}

#section5 {
    padding-top: 40px;
    height: 1100px;
}

#section1 {
    color: black;
    background-color: #f3f3f3;
}

#section3, #section5 {
    color: black;
    background-color: #f3f3f3;
}

#section2, #section4 {
    color: #fff;
    background-color: #353535;
}

#section6 {
    color: #fff;
    background-color: #353535;
}

.footer {
    padding: 10px 20px 10px 20px;
    height: 60px;
}

.btn-footer {
    padding: 0 5px 0 0;
}

.size-icons {
    width: 50px;
}

/**

    On modifie la valeur que si l'écran est petit sans valeur possible pour les grands

 */

@media (max-width: 768px) {

    #image-top-small {
        display: inline;
        width: 100%;
        height: auto;
    }

    #image-top {
        display: none;
    }

    .center-small {
        text-align: center;
    }

    .small-screen > * {
        /* Permet de tout mettre sur une seul colonne */
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .carousel-text {
        font-size: 16px;
    }

    #navbar-top {
        display: none;
    }

    #navbarNavAltMarkup {
        height: 40px;
        display: inline-flex;
    }

    #items-footer.navbar-nav {
        flex-direction: row;
    }

    .bar-icons {
        width: 200px;
        margin: auto;
    }

}

/**

    Pour les grands écrans

 */

@media (min-width: 768px) {

    .flexible {
        display: flex;
    }

    #image-top-small {
        display: none;
    }

    #navbar-top-small {
        display: none;
    }

    /* section 3 */
    .carousel-inner img {
        width: 1110px;
        height: 624px;
    }

    .legende {
        margin-bottom: 30px;
    }

    .legende-active {
        margin-bottom: 30px;
    }

    #section3 {
        height: 950px;
    }

    #section4 {
        height: 1050px;
    }


    #section1, #section2, #section3, #section4, #section5, #section6 {
        padding-top: 80px;
    }

    #section1, #section2, #section6 {
        height: 800px;
    }

    #section5 {
        height: 950px;
    }

    /* footer */
    .footer {
        padding: 40px;
    }

    .btn-footer {
        padding: 8px;
    }

    .size-icons {
        width: 100px;
    }

    .bar-icons {
        flex-direction: row;
    }

}


/**
    Si l'option de réduction des animations est activée
 */

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}