.display {
    display: grid;
}

.btn-admin {
    margin-top: 20px;
}

.add-image-small {
    display: inline-block;
    width: 160px;
    text-align: left;
}

.add-image {
    display: none;
}

@media (max-width: 768px) {

    #navbar-top {
        display: none;
    }

    #navbarNavAltMarkup {
        height: 40px;
        display: inline-flex;
    }

    .btn-admin {
        margin-top: 10px;
    }

    .small-screen {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .h1-admin {
        text-align: center;
        font-size: 1.4rem;
    }

    .add {
        text-align: right;
        display: inline-block;
    }

    .h1-admin-left {
        text-align: left;
        font-size: 1.4rem;
        width: 80%;
        height: 38px;
        display: inline-block;
        vertical-align: bottom;
    }

    .hauteur {
        vertical-align: middle;
    }

}

@media (min-width: 768px) {

    #navbar-top-small {
        display: none;
    }

    .add-image-small {
        display: none;
    }

    .add-image {
        display: block;
    }

}
